cplex
docplex
ipykernel
ipython
jupyter_client
jupyter_core
jupyterlab
matplotlib
matplotlib-inline
networkx
numpy
pandas
pillow
pylatexenc
python-dotenv
qiskit
qiskit-aer
qiskit-algorithms
qiskit-ibm-runtime
qiskit-optimization
rustworkx
scipy
sympy
custom-penalty
